<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Carrier
        <%= userId %>
    </title>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <link href='/css/theme.css' rel='stylesheet' />
    <link href='/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/tether.min.css' rel='stylesheet' />
</head>

<body data-userId="<%= userId %>">
    <div id='map'>
    </div>
    <div class="container-fluid">
        <div class="col-lg-4">
            <div class="alert">
                <div class="h5" style="padding-left: 5%">
                    <h5 id="notification"> Esperando envíos...</h5>
                    <button class="btn btn-success hidden-lg-down" onclick="acceptJob()">
                        Aceptar Envío
                    </button>
                </div>
                <div id="carrierDetails"></div>
            </div>
        </div>
    </div>
    </body>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jsrender.min.js"></script>
    <script src="/js/location.js"></script>

    <script id="details" type="text/x-jsrender">
        <div class="alert alert-info">
            <div><strong>Carrier</strong> : {{:displayName}}</div>
            <div><strong>Estado</strong> : {{:status}}</div>
            <div><strong>Tel</strong> : {{:phone}}</div>
            <div><strong>Patente</strong> : {{:plate}}</div>
            <div><strong>Dirección</strong> : {{:location.address}}</div>
            <div><strong>Posición</strong> : <span class="pos">{{:location.latitude}} {{:location.longitude}}</span></div>
        </div>
    </script>
    <script type="text/javascript">

        window.onerror = function(error) {
            alert(error)
        }

        var socket = io()
        , userId = document.body.getAttribute("data-userId")
        , requestDetails = {}
        , carrierDetails = {}
        , map
        , marker
        , pos = null
        , lastpos = null
        , acceptJob = function () {
            //On clicking the button, emit a 'request-accepted' event/signal and send relevant info back to server
            socket.emit('request-accepted', {
                requestDetails: requestDetails,
                carrierDetails: carrierDetails
            });
        }

        $(function(){

           //Join a room, roomname is the userId itself!
            socket.emit('join', {
                userId: userId
            });

            //First send a GET request using JQuery AJAX and get the carrier's details and save it
            $.ajax({
                url: '/carriers/info?userId=' + userId,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    
                    carrierDetails = data.carrierDetails;
                    carrierDetails.location = {
                        address: carrierDetails.location.address,
                        longitude: carrierDetails.location.coordinates[0],
                        latitude: carrierDetails.location.coordinates[1]
                    }

                    $('#carrierDetails').html($.templates("#details").render(carrierDetails))
                    
                    L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluZnJlZSIsImEiOiJ5ZFd0U19vIn0.Z7WBxuf0QKPrdzv2o6Mx6A';
                    //Load the map and set it to a carrier's lat-lng
                    map = L.mapbox.map('map', 'mapbox.streets');
                    map.setView([carrierDetails.location.latitude, carrierDetails.location.longitude], 15);

                    //Display a default marker
                    marker = L.marker([carrierDetails.location.latitude, carrierDetails.location.longitude]).addTo(map);

                    //Use MapBox geo-coding API
                    map.addControl(L.mapbox.geocoderControl('mapbox.places', {
                        autocomplete: true,
                    }).on('select', function(data) {
                        //This function runs when a place is selected

                        //data contains the geocding results
                        //console.log(data);

                        //Do something with the results

                        //Set the marker to new location
                        marker.setLatLng([data.feature.center[1], data.feature.center[0]]);
                    }));
                },
                error: function(httpRequest, status, error) {
                    console.log(error);
                }
            });

            //Listen for a 'request-for-help' event
            socket.on('request-for-help', function(data) {
                requestDetails = data; //Save request details

                //display user info
                document.getElementById("notification").innerHTML = "Tenés un nuevo envío! \n" + JSON.stringify(requestDetails);

                //Show user location on the map
                L.marker([requestDetails.location.latitude, requestDetails.location.longitude], {
                    icon: L.icon({
                        iconUrl: '/images/user.png',
                        iconSize: [50, 50]
                    })
                }).addTo(map);
            });

            var i = 0;
            geoFindMe(function(position) {
                i++;
                var latitude  = position.coords.latitude;
                var longitude    = position.coords.longitude;

                $('.pos').html(latitude + ' ,' + longitude + ' ' + i )
                marker.setLatLng([latitude, longitude]).update()
                map.setView([latitude,longitude], 17);
                socket.emit('location',{carrier: '<%= userId %>', location:{lat:latitude,lng:longitude}})

            })
        })

    </script>
</body>

</html>