<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>Mensajero 
            <%= userId %>
        </title>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>  
        <link href='/css/bootstrap.min.css' rel='stylesheet' />
        <link href='/css/tether.min.css' rel='stylesheet' />
        <link href='/css/theme.css' rel='stylesheet' />
    </head>

    <body data-userId="<%= userId %>">

        <div id="notification" class="container-fluid">
        </div>

        <div id='map'>
        </div>

        <div id="overlay" class="container-fluid text-right">
            <div id="carrierDetails"></div>
        </div>

        <script id="nuevoenvio" type="text/x-jsrender">
            <h3>Tienes un nuevo Envío</h3>
            <div class="alert">
                <dd><strong>Mensajero</strong> {{:displayName}}</dd>
                <dd><strong>Patente</strong> {{:plate}}</dd>
                <dd><strong>Estado</strong> {{:~isLabelByStatus(status)}} <br>{{:customMsg}}</dd>
                <dd><strong>Posición</strong> <span>{{:location.latitude}} {{:location.longitude}}</span></dd>
                <button class="btn btn-success" onclick="acceptJob()">
                    Aceptar Envío
                </button>   
            </div>
        </script>

        <script id="details" type="text/x-jsrender">
            <div class="alert">
                <dd><strong>{{:displayName}}</strong> <span>{{:customMsg}}</span> <!--strong>Mensajero</strong--></dd>
                <dd><strong>{{:~isLabelByStatus(status)}}</strong> <!--strong>Estado</strong--></dd>
                <dd><strong>{{:plate}}</strong> <!--strong>Patente</strong--></dd>
                <dd><strong><span class="pos">{{:location.latitude}} {{:location.longitude}}</span></strong> <!--strong>Posición</strong--></dd>
            </div>
        </script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <script type="text/javascript" src="/js/tether.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/jsrender.min.js"></script>
        <script type="text/javascript" src="/js/helpers.js"></script>        
        <script type="text/javascript" src="/js/carrier.js"></script>        
    </body>    
</html>