<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>AhoraBondi - Unidad <%= userId %></title>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>  
        <link href='/css/bulma.css' rel='stylesheet' />
        <link href='/css/map.css' rel='stylesheet' />
    </head>

    <body data-userId="<%= userId %>">

        <div id="notification" class="container-fluid">
        </div>

        <div id='map'>
        </div>

        <div id="overlay" class="container-fluid text-right">
            <div id="driverDetails"></div>
            <div class="navbar fixed-bottom">
                <div class="dropdown dropup">
                    <button class="btn btn-lg btn-block btn-secondary dropdown-toggle" type="button" id="dropdownMenuStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Consultando estado...
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuStatus">
                        <a class="dropdown-item" href="#">Disponible</a>
                        <a class="dropdown-item" href="#">Ocupado</a>
                        <a class="dropdown-item" href="#">Desconectado</a>
                        <a class="dropdown-item" href="#">No disponible</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Actualizar estado</a>
                    </div>
                </div>
            </div>
        </div>

        <script id="nuevoenvio" type="text/x-jsrender">
            <h3>Tienes un nuevo Envío</h3>
            <div class="alert">
                <dd><strong>Mensajero</strong> {{:displayName}}</dd>
                <dd><strong>Patente</strong> {{:plate}}</dd>
                <dd><strong>Estado</strong> {{:~isLabelByStatus(status)}} <br>{{:customMsg}}</dd>
                <dd><strong>Posición</strong> <span>{{:location.latitude}} {{:location.longitude}}</span></dd>
                <button class="btn btn-success" onclick="acceptJob()">
                    Aceptar Envío
                </button>   
            </div>
        </script>

        <script id="details" type="text/x-jsrender">
            <div class="alert">
                <dd> <span class="btn btn-sm btn-info">{{:plate}}</span> {{:displayName}} </dd>
                <!--dd><strong>Patente</strong></dd> <strong>Mensajero</strong></dd-->
                <dd>{{:customMsg}}</dd>
                <dd>{{:~isLabelByStatus(status)}} <!--strong>Estado</strong--></dd>
                <!--dd><strong><span class="pos">{{:location.latitude}} {{:location.longitude}}</span></strong> <!--strong>Posición</strong--></dd-->
            </div>
        </script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
        <script type="text/javascript" src="/js/lib/tether.min.js"></script>
        <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/lib/jsrender.min.js"></script>
        <script type="text/javascript" src="/js/helpers.js"></script>        
        <script type="text/javascript" src="/js/driver.js"></script>        
    </body>    
</html>