<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
    	<title>TUENVIO - Inicio</title>
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>        
        <link href='/css/bootstrap.min.css' rel='stylesheet' />
        <link href='/css/tether.min.css' rel='stylesheet' />
        <link href='/css/theme.css' rel='stylesheet' />
    </head>

    <body class="splash">
		<div class="container container-table">
		    <div class="row vertical-center-row">
		        <div class="text-center col-md-12">
			        <div class="pin"><h1><span class="badge">TU ENVÍO</span></h1></div>
			        <p class="text-muted">Bienvenido Guest112398, Puedes ver el estado en tu <a href="user.html" target="_blank">página de inicio</a></p>       
			        <div class="form-group">
			        	<a href="#" class="btn btn-lg btn-success">Ingresar</a>
			        </div>
			        <div class="form-group">
			        	<a href="#" class="btn btn-lg btn-info">Ingresar con Facebook</a>
			        </div>
			       	<div class="form-group">
			        	<a href="#" class="btn btn-lg btn-primary">Ingresar con Twitter</a>
			        </div>
			      	<div class="form-group">
			        	<a href="#" class="btn btn-lg btn-danger">Ingresar con Google</a>
			        </div>
			    </div>
		    </div>
		</div>    
    </body>
</html>