<%- contentFor('body') %>

  	<p class="subtitle">
    	<strong>AhoraBondi</strong> es una red voluntaria de visualización de transporte público en tiempo real. <a href="/quienes-somos">Conocer más</a>.
  	</p>
  	<div class="content has-text-centered">
      	<a href="/mapa" class="button is-large is-link">Ver viajes</a> 
      	<a href="/<%=uuid%>" class="button is-large is-success"><span class="icon is-text-success"><span class="fa fa-bus"></span></span>  &nbsp;&nbsp;Crear viaje</a>
  	</div>


