<%- contentFor('body') %>

  	<p class="subtitle">
    	<strong>Ahora</strong> es una red voluntaria de visualización de transporte público en tiempo real. <a href="/preguntas-frecuentes">Conocer más</a>.
  	</p>
  	<div class="content has-text-centered custom-btns">
      	<a href="/mapa" class="button is-large is-link">Ver ubicaciones</a> 
      	<a href="/<%=uuid%>" class="button is-large is-success"><span class="icon is-text-success"><span class="fa fa-bus"></span></span>  &nbsp;&nbsp;Compartir ubicación</a>
  	</div>


