<%- contentFor('body') %>

    <div id="driverDetails"></div> 
    <div id="userPosition"></div>
    <div id="status" class="container-fluid text-left"></div>
    <div id="notification" class="container-fluid"></div>
    <div id='map' class="selection"></div>

    <script id="details" type="text/x-jsrender">
        <div class="content{{if showList}} show{{/if}}">
        {{if count > 0}}
            <p><strong>{{:count}}</strong> dispositivo{{if count > 1}}s{{/if}}</p>
        {{else}}
            <p>Nadie está compartiendo su ubicación ahora.</p>
            <a href="/<%=uuid%>" title="Transmitir en vivo ahora" class="button is-large is-primary">Compartir ubicación</a>
        {{/if}}
            <ul>
            {{for drivers}}
                <li class="pointer"><a href="#{{:displayName}}" id="{{:displayName}}" lat="{{:location.latitude}}" lng="{{:location.longitude}}" zoom="18">{{:displayName}} <!--small>{{:customMsg}}</small--></li>
            {{/for}}
            </ul>
        </div>
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script type="text/javascript" src="/js/map.js"></script>