<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>AhoraBondi</title>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>
    <link href='/css/bulma.css' rel='stylesheet' />
    <link href='/css/app.css' rel='stylesheet' />
</head>

<body>
    <div id="status" class="container-fluid text-left"></div>
    <div id="notification" class="container-fluid"></div>
    <div id='map' class="selection"></div>
    <div id="overlay" class="container text-center">
        <div id="userPosition"></div>
        <div id="driverDetails"></div>
    </div>

    <script id="details" type="text/x-jsrender">
        <div><strong>{{:count}}</strong> Unidades</div>
    </script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script type="text/javascript" src="/js/lib/lodash.min.js"></script>
    <script type="text/javascript" src="/js/lib/tether.min.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/lib/jsrender.min.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>
</body>

</html>
