<%- contentFor('body') %>

    <div id="driverDetails"></div> 
    <div id="userPosition"></div>
    <div id="status" class="container-fluid text-left"></div>
    <div id="notification" class="container-fluid"></div>
    <div id='map' class="selection"></div>

    <script id="details" type="text/x-jsrender">
        <div class="content{{if showList}} show{{/if}}">
        {{if count > 0}}
            <p><strong>{{:count}}</strong> viaje{{if count > 1}}s{{/if}}</p>
        {{else}}
            <p>Sin Viajes por el momento. ¿Ansioso por ver actividad? &nbsp;&nbsp;<a href="/<%=uuid%>" title="Transmitir en vivo ahora"><span class="icon is-text-success"><span class="fa fa-bus"></span></span>&nbsp;Crear viaje</a></p>
        {{/if}}
            <ul>
            {{for drivers}}
                <li class="pointer" href="#" onclick="setPos('{{:location.latitude}}','{{:location.longitude}}',15)">{{:displayName}} <!--small>{{:customMsg}}</small--></li>
            {{/for}}
            </ul>
        </div>
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script type="text/javascript" src="/js/map.js"></script>