<%- contentFor('body') %>

    <div id="driverDetails"></div> 
    <div id="userPosition"></div>
    <div id="status" class="container-fluid text-left"></div>
    <div id="notification" class="container-fluid"></div>
    <div id='map' class="selection"></div>
    <div id='menu'>
      <input id='streets' type='radio' name='rtoggle' value='streets' checked='checked'>
      <label for='streets'>streets</label>
      <input id='bright' type='radio' name='rtoggle' value='bright'>
      <label for='bright'>bright</label>
      <input id='light' type='radio' name='rtoggle' value='light'>
      <label for='light'>light</label>
      <input id='dark' type='radio' name='rtoggle' value='dark'>
      <label for='dark'>dark</label>
      <input id='satellite' type='radio' name='rtoggle' value='satellite'>
      <label for='satellite'>satellite</label>
    </div>    

    <script id="details" type="text/x-jsrender">
        <div class="content">
        {{if count > 0}}
            <p><strong>{{:count}}</strong> dispositivo{{if count > 1}}s{{/if}}</p>
            <ul>
            {{for drivers}}
                <li class="pointer">
                    <a href="#{{:displayName}}" id="{{:displayName}}" lat="{{:location.latitude}}" lng="{{:location.longitude}}" zoom="18">{{:displayName}} <small>{{:customMsg}}</small></a>
                </li>
            {{/for}}
            </ul>
        {{else}}
            <p>Nadie está compartiendo su viaje ahora. <a href="/<%=uuid%>" title="Compartir con mis amigos la ubicación de mi teléfono en vivo ahora">¡Comparte el tuyo con tus amigos!</a></p>            
        {{/if}}
        </div>
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <!--script type="text/javascript" src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script-->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>  
    <script type="text/javascript" src="/js/map.js"></script>