<%- contentFor('body') %>     		
 	
 	<div class="content faq">
     	<h1>Preguntas frecuentes</h1>

      <h4>¿De qué se trata esto?</h4>
     	<p class="subtitle">
     		<strong>AhoraBondi</strong> es una red voluntaria de visualización de transporte público en tiempo real.
     	</p>

     	<h4><a href="/preguntas-frecuentes#objetivo" id="objetivo">Objetivo</a></h4>

      	<p>
        	Somos un grupo de vecinos que nos establecimos el objetivo de lograr monitorear el tráfico de transporte público de colectivo en tiempo real. Para esto sabemos que debemos poner a disposición las herramientas y la tecnología necesaria a los empresarios del transporte público para que éstos contribuyan al mejoramiento de servicio poniendo a disposición la ubicación de sus unidades en tiempo real.
        </p>

        <h4><a href="/preguntas-frecuentes#beneficios" id="beneficios">¿Cuál sería el beneficio?</a></h4>

        <p> 
        	El equipo de <strong>AhoraBondi</strong> usa servicios gratuitos para poner en funcionamiento el servidor. No cobramos nada a nadie, ni tenemos pensado cobrar nada a nadie en el futuro. El beneficio que aporta el proyecto es para los pasajeros, mostrando la ubicación real de cada unidad en un tiempo determinado, y también para los empresarios que podrán monitorear sus unidades para tomar mejores desiciones.
        </p>

      	<h4><a href="/preguntas-frecuentes#en-que-estado-se-encuentra-el-proyecto" id="en-que-estado-se-encuentra-el-proyecto">¿En qué estado se encuentra el proyecto actualmente?</a></h4>

      	<p>
      		Actualmente <strong>AhoraBondi</strong> está en etapa de pruebas. 
      	</p>
      	<p>
      		Las primeras pruebas fueron exitosas y esperamos en breve lograr la primera versión del proyecto.
      	</p>

      	<p>
      		Sabemos que lograremos la primera versión cuando o bien 
        </p>
          <ul>
            <li> El primer empresario de transporte público de colectivos publique sus unidades </li>
            <li> Cuando seamos los usuarios los que publiquemos los viajes ayudando a otros usuarios a ubicar los colectivos. (Buscar botón <strong>Crear viaje</strong>) </li> 
          </ul>

          Además tiene que estar libre de "bugs" la aplicación. Para esto necesitamos de tu ayuda como probador de software, desarrollador, diseñador o como tal vez como vos tengas deseos de colaborar. Cuantos mas seamos haciendo <strong>AhoraBondi</strong> con <span class="icon has-text-danger"><span class="fa fa-heart"></span></span> antes y mejor llegaremos a una buena cobertura del servicio. ¿Qué te parece la propuesta?<br><br>

      		<a href="/quiero-participar">Sí, quiero formar parte de <strong>AhoraBondi</strong></a>

      	<h4><a href="/preguntas-frecuentes#que-se-necesita-para-lanzar" id="que-se-necesita-para-lanzar">¿Qué se necesita para lanzar el proyecto?</a></h4>

      	<p>
      		El aporte necesario para iniciar el proyecto es contar con un smartphone con GPS por cada unidad y cubrir el costo del paquete de datos necesario para transmitir en directo la ubicación mientras dure el tiempo de servicio de la unidad. 
      	</p>

      	<p>
      		Necesitamos de la buena voluntad de al menos una empresa de transporte público para comenzar. <br><br>

      		<a href="/quiero-participar">¿Sos empresario y querés ser parte de <strong>AhoraBondi</strong>?</a>
      	</p>

      	<h4><a href="/preguntas-frecuentes#que-tecnologia-usa-el-proyecto" id="que-tecnologia-usa-el-proyecto">¿Qué tencología usa el proyecto?</a></h4>

      	<p>
      		<strong>AhoraBondi</strong> está construido sobre tecnología NODE JS, trabaja con una base de datos MONGO DB y usa Javascript para detectar y enviar las coordenadas GPS.
      	</p>

      	<p>
      		<strong>AhoraBondi</strong> no guarda datos de la actividad de ninguna empresa, solo se limita a identificar y nombrar a las unidades y transmitir su posición en tiempo real via WebSocket directamente al usuario.
      	</p>

      	<h4><a href="/preguntas-frecuentes#por-que-voluntario" id="por-que-voluntario">¿Por qué "voluntario"?</a></h4>

      	<p>
      		Los que formamos actualmente el equipo de <strong>AhoraBondi</strong> consideramos indispensable la buena voluntad de los empresarios de transporte público, choferes y pasajeros para que este proyecto se realice de forma exitosa. Creemos que cualquier iniciativa del gobierno para obligar a las empresas de cualquier manera solo puede garantizar el fracaso del proyecto.
      	</p>
		
		<hr>
      	<h1>¿Querés ser parte de <strong>AhoraBondi</strong>?</h1>
      	<a href="/quiero-participar" class="button is-primary">Sí, quiero participar</a>
    </div>