<%- contentFor('body') %>   

  	<div class="content">
      	<h1>Quiero ser parte del proyecto</h1>

      	<p>
			Actualmente <strong>AhoraBondi</strong> está en etapa de pruebas. <a href="/quienes-somos#en-que-estado-se-encuentra-el-proyecto">Conocer más</a>
      	</p>

		<a href="mailto:devmetasoft@gmail.com?subject=Soy pasajero y quiero sumarme a AhoraBondi" class="button is-link">Soy pasajero y quiero sumarme</a>
		<a href="mailto:devmetasoft@gmail.com?subject=Soy empresario y quiero sumarme a AhoraBondi" class="button is-warning">Soy empresario y quiero sumarme</a>
		<a href="mailto:devmetasoft@gmail.com?subject=Soy desarrollador y quiero sumarme a AhoraBondi" class="button is-success">Soy desarrollador y quiero sumarme</a>

		<hr>
		<h1><a href="/quiero-participar#quiero-colaborar-desde-donde-estoy-ahora" id="quiero-colaborar-desde-donde-estoy-ahora">Quiero colaborar desde donde estoy ahora</a></h1>
      	<p>
      		Si querés probar el proyecto con tu auto, bicicleta o si querés probarlo de apie podés transmitir tu ubicación en tiempo real.<br>
          <a class="button is-large is-success" href="/emisor/<%=uuid%>" title="Transmitir en vivo ahora"><span class="icon is-text-success"><span class="fa fa-bus"></span></span> &nbsp;&nbsp;Crear viaje</a></a>
      	</p>					
    </div>