<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
    	<title>Quienes Somos</title>
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<base href="/">
        <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300,200' rel='stylesheet' type='text/css'>        
    	<link href='/css/bulma.css' rel='stylesheet' />
    	<link href='/css/app.css' rel='stylesheet' />
    </head>
	<body>
		<section class="section splash">
		    <div class="container">
				<nav class="navbar is-transparent">
				  <div class="navbar-brand">
			    	<div class="pin">	
			      		<h1>AhoraBondi <span class="st">BETA</span></h1>
					</div>
				    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
				      <span></span>
				      <span></span>
				      <span></span>
				    </div>
				  </div>

				  <div id="navbarExampleTransparentExample" class="navbar-menu">
				    <div class="navbar-start">

				      <a class="navbar-item" href="/">
				        Inicio
				      </a>

				      <a class="navbar-item" href="/mapa">
				        Bondis en mi área
				      </a>

				      <a class="navbar-item" href="/quiero-participar">
				        ¿Querés participar?
				      </a>

				      <a class="navbar-item" href="/quienes-somos">
				        Quienes somos
				      </a>		

				      <!--div class="navbar-item has-dropdown is-hoverable">
				        <a class="navbar-link" href="/documentation/overview/start/">
				          Docs
				        </a>
				        <div class="navbar-dropdown is-boxed">
				          <a class="navbar-item" href="/documentation/overview/start/">
				            Overview
				          </a>
				          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
				            Modifiers
				          </a>
				          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
				            Columns
				          </a>
				          <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
				            Layout
				          </a>
				          <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
				            Form
				          </a>
				          <hr class="navbar-divider">
				          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
				            Elements
				          </a>
				          <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
				            Components
				          </a>
				        </div>
				      </div-->
				    </div>
				  </div>
				</nav>		      		
		     	
		     	<div class="content">
			     	<h1>Quienes somos</h1>

			     	<p class="subtitle">
			     		<strong>AhoraBondi</strong> es una red voluntaria de visualización de transporte público en tiempo real.
			     	</p>

			     	<h4><a href="#objetivo" id="objetivo">Objetivo</a></h4>

			      	<p>
			        	Somos un grupo de vecinos que nos establecimos el objetivo de lograr monitorear el tráfico de transporte público de colectivo en tiempo real. Para esto sabemos que debemos poner a disposición las herramientas y la tecnología necesaria a los empresarios del transporte público para que éstos contribuyan al mejoramiento de servicio poniendo a disposición la ubicación de sus unidades en tiempo real.
			        </p>

			        <h4><a href="#beneficios" id="beneficios">¿Cuál sería el beneficio?</a></h4>

			        <p> 
			        	El equipo de <strong>AhoraBondi</strong> usa servicios gratuitos para poner en funcionamiento el servidor. No cobramos nada a nadie, ni tenemos pensado cobrar nada a nadie en el futuro. El beneficio que aporta el proyecto es para los pasajeros, mostrando la ubicación real de cada unidad en un tiempo determinado, y también para los empresarios que podrán monitorear sus unidades para tomar mejores desiciones.
			        </p>

			      	<h4><a href="#estado-se-encuentra-el-proyecto" id="en-que-estado-se-encuentra-el-proyecto">¿En qué estado se encuentra el proyecto actualmente?</a></h4>

			      	<p>
			      		Actualmente <strong>AhoraBondi</strong> está en etapa de pruebas. Las primeras pruebas fueron exitosas y esperamos en breve lograr la primera versión del proyecto. </p>
			      	</p>
			
			      	<h4><a href="#que-se-necesita-para-lanzar" id="que-se-necesita-para-lanzar">¿Qué se necesita para lanzar el proyecto?</a></h4>

			      	<p>
			      		El aporte necesario para iniciar el proyecto es contar con un smartphone con GPS por cada unidad y cubrir el costo del paquete de datos necesario para transmitir en directo la ubicación mientras dure el tiempo de servicio de la unidad. 
			      	</p>

			      	<p>
			      		Necesitamos de la buena voluntad de al menos una empresa de transporte público para comenzar. <br><a href="/quiero-participar">¿Sos empresario y querés ser parte de <strong>AhoraBondi</strong>?</a>
			      	</p>

			      	<h4><a href="#que-tecnologia-usa-el-proyecto" id="que-tecnologia-usa-el-proyecto">¿Qué tencología usa el proyecto?</a></h4>

			      	<p>
			      		<strong>AhoraBondi</strong> está construido sobre tecnología NODE JS, trabaja con una base de datos MONGO DB y usa Javascript para detectar y enviar las coordenadas GPS.
			      	</p>

			      	<p>
			      		<strong>AhoraBondi</strong> no guarda datos de la actividad de ninguna empresa, solo se limita a identificar y nombrar a las unidades y transmitir su posición en tiempo real via WebSocket directamente al usuario.
			      	</p>

			      	<h4><a href="#por-que-voluntario" id="por-que-voluntario">¿Por qué "voluntario"?</a></h4>

			      	<p>
			      		Los que formamos actualmente el equipo de <strong>AhoraBondi</strong> consideramos indispensable la buena voluntad de los empresarios de transporte público, choferes y pasajeros para que este proyecto se realice de forma exitosa. Creemos que cualquier iniciativa del gobierno para obligar a las empresas de cualquier manera solo puede garantizar el fracaso del proyecto.
			      	</p>
					
					<hr>
			      	<h1>¿Querés ser parte de <strong>AhoraBondi</strong>?</h1>
			      	<a href="/quiero-participar" class="button is-primary">Sí, quiero participar</a>
			     </div>
		    </div>
			<footer class="footer">
			  <div class="container">
			    <div class="content has-text-centered">
			      <p>
			        <strong>AhoraBondi</strong> 2018. Motorizado con <a href="https://glitch.com" target="_blank">Glitch</a> y <a href="https://mlab.com" target="_blank">mLab</a>. Hecho con <span class="icon has-text-danger"><i class="fa fa-heart"></i></span> por <a href="https://devmeta.glitch.me" target="_blank">devmeta</a>.
			      </p>
			    </div>
			  </div>
			</footer>		    
		</section>
		<script type="text/javascript" src="/js/app.js"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

	</body>
</html>