<%- contentFor('body') %>   

  	<div class="content">
      	<h1>Quiero ser parte del proyecto</h1>

      	<p>
			Actualmente <strong>AhoraBondi</strong> está en etapa de pruebas. <a href="/quienes-somos#en-que-estado-se-encuentra-el-proyecto">Conocer más</a>
      	</p>

		<a href="mailto:devmetasoft@gmail.com?subject=Soy pasajero y quiero sumarme a AhoraBondi" class="button is-link">Soy pasajero y quiero sumarme</a>
		<a href="mailto:devmetasoft@gmail.com?subject=Soy empresario y quiero sumarme a AhoraBondi" class="button is-warning">Soy empresario y quiero sumarme</a>
		<a href="mailto:devmetasoft@gmail.com?subject=Soy desarrollador y quiero sumarme a AhoraBondi" class="button is-success">Soy desarrollador y quiero sumarme</a>

		<hr>
		<h1><a href="/quiero-participar#quiero-colaborar-desde-donde-estoy-ahora" id="quiero-colaborar-desde-donde-estoy-ahora">Quiero colaborar desde donde estoy ahora</a></h1>
      	<p>
      		Si querés probar el proyecto con tu auto, bicicleta o si querés probarlo de apie podés transmitir tu ubicación en tiempo real con uno de los siguientes cuentas destinadas a pruebas:<br>
      		<ul>
      			<li><a href="/emitir/1">Transmitir ahora con <strong>Prueba 1</strong></a></li>
      			<li><a href="/emitir/2">Transmitir ahora con <strong>Prueba 2</strong></a></li>
      			<li><a href="/emitir/3">Transmitir ahora con <strong>Prueba 3</strong></a></li>
      			<li><a href="/emitir/4">Transmitir ahora con <strong>Prueba 4</strong></a></li>
      			<li><a href="/emitir/5">Transmitir ahora con <strong>Prueba 5</strong></a></li>
      			<li><a href="/emitir/6">Transmitir ahora con <strong>Prueba 6</strong></a></li>
      			<li><a href="/emitir/7">Transmitir ahora con <strong>Prueba 7</strong></a></li>
      			<li><a href="/emitir/8">Transmitir ahora con <strong>Prueba 8</strong></a></li>
      			<li><a href="/emitir/9">Transmitir ahora con <strong>Prueba 9</strong></a></li>
      		</ul>
      	</p>					
    </div>