<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Usuario
        <%= userId %>
    </title>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <link href='/css/theme.css' rel='stylesheet' />
    <link href='/css/bootstrap.min.css' rel='stylesheet' />
    <link href='/css/tether.min.css' rel='stylesheet' />    
</head>

<body data-userId="<%= userId %>">

    <div id='map'>
    </div>
    <div class="container-fluid">
        <div class="col-lg-11 col-xs-12">
            <div class="alert">
                <input type="text" class="form-control hidden-lg-down" placeholder="Destino" />
                <button class="btn btn-success" onclick="requestForHelp()">
                    Solicitar envío
                </button>                    
            </div>
        </div>
        <div id="carrierDetails"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jsrender.min.js"></script>
    <script src="/js/location.js"></script>

    <script type="text/javascript">
        var socket = io()
        , userId = document.body.getAttribute("data-userId")

        socket.emit('join', {
            userId: userId
        }); //Join a room, roomname is the userId itself!

        //Empty variables to store information. This will get filled later
        var requestDetails = {}
        , carrierDetails = {}
        , map
        , lastpos
        , pos 
        , marker
        , markers = []
        , requestDetails = {
            userId: userId,
            location: {
                address: "Av. de Mayo 720 C1070AAP CABA, Argentina",
                latitude: -34.608724,
                longitude: -58.376867
            }
        }

        function requestForHelp() { //When button is clicked, emit an event
            socket.emit('request-for-help', requestDetails);
        }

        //Listen for a 'request-accepted' event
        socket.on('location', function(data) {
            if(markers[data.carrier]){
                markers[data.carrier].setLatLng(new L.LatLng(data.location.lat, data.location.lng))
            } else {
                markers[data.carrier] = L.marker([data.location.lat, data.location.lng], {
                    icon: L.icon({
                        iconUrl: '/images/carrier.png',
                        iconSize: [60, 28]
                    })
                }).addTo(map);            
            }
        })

        socket.on('request-accepted', function(data) {
            console.log("request-accepted")
            
            carrierDetails = data; //Save carrier details

            //Display Carrier details
            document.getElementById("notification").innerHTML = "Un mensajero está llegando a tu dirección \n" + JSON.stringify(carrierDetails);

            //Show carrier location on the map
            L.marker([carrierDetails.location.latitude, carrierDetails.location.longitude], {
                icon: L.icon({
                    iconUrl: '/images/carrier.png',
                    iconSize: [60, 28]
                })
            }).addTo(map);
        });

        L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluZnJlZSIsImEiOiJ5ZFd0U19vIn0.Z7WBxuf0QKPrdzv2o6Mx6A';

        //Load the map and set it to a given lat-lng
        map = L.mapbox.map('map', 'mapbox.streets');
        map.setView([-34.608724, -58.376867], 15);

        //Display a default marker
        marker = L.marker([-34.608724, -58.376867]).addTo(map);

        //Use MapBox geo-coding API
        map.addControl(L.mapbox.geocoderControl('mapbox.places', {
            autocomplete: true,
        }).on('select', function(data) {
            //This function runs when a place is selected

            //data contains the geocding results
            console.log(data);

            //Do something with the results

            //Extract address and coordinates from the results and save it
            requestDetails.location = {
                address: data.feature["place_name"],
                latitude: data.feature.center[1],
                longitude: data.feature.center[0]
            };

            //Set the marker to new location
            marker.setLatLng([data.feature.center[1], data.feature.center[0]]);
        }));

        geoFindMe(function(position) {
            var latitude  = position.coords.latitude;
            var longitude = position.coords.longitude;

            marker.setLatLng([latitude, longitude]).update()
            map.setView([latitude,longitude], 15);
        })        
        
    </script>
</body>

</html>