body {
	height: 100%
}
.container-fluid {
	background: transparent
}
.alert {
	display: flex;
}

.container-fluid > .form {
	padding: 10px;
}
#map {
	position: absolute;
	width: 100%;
	height: 100%;
}