html, body {
	font-family: 'Raleway';
	height: 100%;
}

h1,h2,h3,h4,h5,h6, span{
	font-family: 'Raleway';
}

.splash {
	background-color: #583470;
	height: 100%;	
}

.container-table {
    display: table;
	height: 100%;    
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.pin {
	background-color: #46e166;
    width: 6rem;
    height: 6rem;
    display: block;
    left: -3rem;
    top: -3rem;
    position: relative;
    border-radius: 6rem 6rem 0;
    transform: rotate(45deg);
    border: 6px solid #FFFFFF
}

.pin h1 {
	color: #fff;
	font-weight: 800;
	font-size: 3.5em;
	letter-spacing: -3px;
	position: relative;
	top: .1rem;
	transform: rotate(-50deg);
}

.icon > .selection {
	box-shadow: 0 0 0 5px #2a6b02;
}

.container-fluid {
	background: transparent
}

.container-fluid > .form {
	padding: 10px;
}

#overlay {
	position: relative;
	z-index: 10
}

#status {
	display: none;
	background-color: transparent;
	color: #000;
	position: absolute;
	z-index: 11;
	width: 100%;
}

#notification {
	display: none;
	background-color: rgba(29, 38, 88, 0.65);
	color: #fff;
	position: absolute;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;	
	z-index: 10;
	padding-top: 10px;
	overflow-y: auto;	
}

#notification .message {	
	position: relative;
	width: 100%;
	display: inline-block;
	z-index: 2;	
}

#map {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#map.selection {
	cursor: url('../images/choose.png'), auto;	
}

#carrierList {
	display: inline-flex;
	overflow: auto
}

.actions {
	bottom:0;
	width: 100%;
	padding: 2rem;
	text-align: center;
}

.with-options ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.with-options ul li {	
	flex-direction: row;
	margin-bottom: 4px;    
	padding: 0.5em 1em;  
	font-size: 14px;
	font-weight: 400;
    background: rgba(40, 49, 46, 0.61);
    color: #ffffff;
    border-radius: 4px;
	cursor: pointer;
}

@media (min-width: 767px) { 
	#notification .title {
		padding: 1rem 10rem;
		padding-bottom: 0;
	}

	#notification .message {
		display: flex;
		padding: 2rem 10rem;
	}
}

@media (max-width: 480px) { 
	.alert {
		display: inline-block;
	}
}